@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	scroll-behavior: smooth;
	font-family: "Raleway", sans-serif;
}

/* @layer base {
	body {
		@apply bg-[#637b8d] text-[#1f2937] tracking-wide;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	li {
		@apply cursor-pointer;
	}
	*/

/* CSS */
.button-51 {
	background-color: transparent;
	border: 1px solid #266db6;
	box-sizing: border-box;
	color: #00132c;
	font-family: "Avenir Next LT W01 Bold", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 16px 23px;
	position: relative;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
	outline: 0;
}

.button-51:hover {
	background-color: transparent;
	cursor: pointer;
}

.button-51:before {
	background-color: #d5edf6;
	content: "";
	height: calc(100% + 3px);
	position: absolute;
	right: -7px;
	top: -9px;
	transition: background-color 300ms ease-in;
	width: 100%;
	z-index: -1;
}

.button-51:hover:before {
	background-color: #6dcff6;
}

@media (min-width: 768px) {
	.button-51 {
		padding: 16px 32px;
	}
}

body {
	background-color: #cce3de;
}

/* .auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-left: 15%;
} */

/* .app {
	display: flex;
	justify-content: center;
	margin-left: 15%;
	width: fit-content;
} */

/* .links {
	margin-left: 60rem;
} */

.logo {
	height: 15vh;
	margin-left: -7%;
}

footer {
	margin: 100px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	background-color: #ffff;
}

.logo2 {
	height: 50px;
}

.home {
}

.posts {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 150px;
}

.post {
	display: flex;
	gap: 100px;
}

.post:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

.img {
	flex: 2;
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	position: relative;
}

.img::after {
	content: "";
	width: 110%;
	height: 70%;
	background-color: rgba(66, 64, 64, 0.5);
	position: absolute;
	top: 10px;
	left: -10px;
	z-index: -1;
}

.content {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.single {
	display: flex;
	gap: 50px;
}

.content {
	flex: 5;
}

.menu {
	flex: 2;
}

.samples {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.info {
	display: flex;
	align-items: center;
}
